* {
    box-sizing: border-box;
}

html,
body {
    font-size: 14pt;
}

body {
    background: #dedede;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

main {
    max-width: 75%;
    margin: auto;
}

header {
    border-bottom: 1px solid #afafaf;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
    margin-bottom: 5px;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
    line-height: 2;
}

label {
    font-weight: bold;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.new-search-form {
    max-width: 300px;
    display: block;
    min-height: 3em;
    margin: 10px 0;
    width: 100%;
}

.show {
    width: 75%;
}

.back {
    color: #019e13;
    font-size: 1.3rem;
}

.error-list li {
    color: #ff0000;
    font-family: Monospace;
}

.error-404 h1 {
    color: #ff0000;
    font-family: Monospace;
    text-align: center;
    padding: 100px;
}

.error {
    color: #ff0000;
    font-family: Monospace;
    text-align: center;
    padding: 100px;
    font-size: 1.1rem;
}

.not-found {
    color: #ff0000;
    font-family: Monospace;
    text-align: center;
    padding: 100px;
    font-size: 1.1rem;
}