<main>
  <h1>Shows Found</h1>
  <br />

  <h2>Top 10 list of TV Shows based on your search for `{{searchTerm}}`</h2>
  <br />

  {{#each shows}}
  <ul>
    <li>
      <a href="/shows/{{id}}">{{name}}</a>
    </li>
  </ul>
  {{/each}}

  <br />
  <br />

  <nav>
    <a href="/" class="back">Make another search</a>
  </nav>
</main>